
<!DOCTYPE HTML>
<html>
<head>
<title>Baafila</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<!-- lined-icons -->
<link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<!-- chart -->
<script src="js/Chart.js"></script>
<!-- //chart -->
<!--animate-->
<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!----webfonts--->
<link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<!---//webfonts---> 
 <!-- Meters graphs -->
<script src="js/jquery-1.10.2.min.js"></script>
<!-- Placed js at the end of the document so the pages load faster -->

</head> 
   
 <body class="sticky-header left-side-collapsed"  onload="initMap()">
    <section>
    <!-- left side start-->
		<div class="left-side sticky-left-side">

			<!--logo and iconic logo start-->
			<div class="logo">
				<h1><a href="index.html">Easy <span>Admin</span></a></h1>
			</div>
			<div class="logo-icon text-center">
				<a href="index.html"><i class="lnr lnr-home"></i> </a>
			</div>

			<!--logo and iconic logo end-->
			<div class="left-side-inner">
				
				<!--sidebar nav start-->
					<%- include('includes/navbar')%>
				<!--sidebar nav end-->
			</div>
		</div>
    <!-- left side end-->
    
    <!-- main content start-->
		<div class="main-content main-content3">
			<!-- header-starts -->
			<%- include('includes/headerSection')%>
	<!-- //header-ends -->
		
                        <form  id="form"  >
							<!-- for youtube  videos -->
						
							<div  class="addVideo" id="priceInclude" style="margin-top: 40px;" >
								<h4 id="msg" class=""></h4>
								

								<div class="form-group">
									<label  class="col-sm-2 control-label">Enter New Entry For Complementaries</label>
									<div class="col-sm-8">
										<input type="text" id="priceExcludeInput" class="form-control1" id="disabledinput" placeholder="Entry For Complementaries" >
									</div>
									<button class="btn-success btn " id="addVideos" ><i class="fa fa-plus-circle" aria-hidden="true">&nbsp Exclude value</i></button>

								</div>
							
							</div>
							
							<div class="form-group ">
							</div>
					</form>
					  </div>
				</div>
			</div>
		</div>
		<!--footer section start-->
			<footer>
			   <p>&copy 2015 Easy Admin Panel. All Rights Reserved | Design by <a href="" target="_blank"></a></p>
			</footer>
        <!--footer section end-->
	</section>
	<script>
		$(document).ready(()=>{
			// $("#offonprice").keyup(alert('aqaa'));
			$('form').submit(false);
			getAllComplementaries();



			
			$("#addVideos").click(()=>{
				$("#msg").html("").removeClass("alert alert-success");
			let ans=confirm("This will be added To Price includes permanently ?");
			if(ans == true){
				
				$.post( "/admin/saveComplementaries", { complementaries: $("#priceExcludeInput").val() })
  				.done(function( data ) {
   				
				   $("#msg").html(`<center>${data}</center>`).addClass("alert alert-success");
				if(data == "Saved"){
			  getAllComplementaries();
               }
				$("#priceExcludeInput").val("");	
  			});
			}
			
			
			

		});
		});
	function removeDiv(daysDiv1){
			
			$("#"+daysDiv1).remove();
		};

	

	function getAllComplementaries(){

		$('div.priceIncludedata').remove();
		$.post("/admin/getAllComplementaries").done((data)=>{
			
			if(typeof data === 'object')
			{
				dataobjs =data;
				
				for(var i in dataobjs){
					
			$("#priceInclude").after('<div  class="priceIncludedata" ><div class="form-group"><label  class="col-sm-2 control-label"> Saved value </label><div class="col-sm-8"><input id="videosDiv'+i+'" type="text" value="'+dataobjs[i].complementaries+'" class="form-control1" disabled placeholder="Paste youtube video Link "></div><button class="btn-success btn removeDays" onclick="deleteComplementaries(\'videosDiv'+i+'\')"  ><i class="fa fa-minus-circle" aria-hidden="true">&nbsp Delete Value </i></button></div></div>');

			}
			
			}
		});
	}	

	function deleteComplementaries(id){
	   let value =	$('#'+id).val();
		let ans=confirm("This will be Deleted To Price includes permanently ?");
		if(ans){
			$.post( "/admin/deletingComplementaries", { complementaries: value } ).done((dataafterDelete)=>{
				if(dataafterDelete){
				   $('#'+id).parent().parent().parent().remove();
				   alert("Deleted");
				}else{
					alert("Something Went Worng");
				}
			
	     });
		}
	   
	}

	</script>
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="js/bootstrap.min.js"></script>
</body>
</html>   