<!DOCTYPE HTML>
<html>

<head>
    <title>realEstate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Baafila" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="js/Chart.js"></script>
    <!-- //chart -->
    <!--animate-->
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic'
        rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->
    <style type="text/css">
        .main-content3 {
            min-height: 1400px !important;
        }

        #map {
            height: 100%;
        }


        #my-input-searchbox {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
            font-size: 15px;
            border-radius: 3px;
            border: 0;
            margin-top: 10px;
            width: 270px;
            height: 40px;
            text-overflow: ellipsis;
            padding: 0 1em;
        }
    </style>

</head>

<body class="sticky-header left-side-collapsed">

    <section>
        <!-- left side start-->
        <div class="left-side sticky-left-side">

            <!--logo and iconic logo start-->
            <div class="logo">
                <h1><a href="index.html">Baafila <span>Admin</span></a></h1>
            </div>
            <div class="logo-icon text-center">
                <a href="index.html"><i class="lnr lnr-home"></i> </a>
            </div>

            <!--logo and iconic logo end-->
            <div class="left-side-inner">

                <!--sidebar nav start-->
                <%- include('includes/navbar')%>
                    <!--sidebar nav end-->
            </div>
        </div>
        <!-- left side end-->

        <!-- main content start-->
        <div class="main-content main-content3">
            <!-- header-starts -->
            <%- include('includes/headerSection')%>
                <!-- //header-ends -->

                <div id="page-wrapper">
                    <div class="graphs">
                        <h3 class="blank1">List Projects</h3>
                        <div class="tab-content">
                            <div class="tab-pane active" id="horizontal-form">

                                <form class="form-horizontal" id="createProjects" method="post"
                                    enctype="multipart/form-data">
                                    <center>
                                        <h4 id="msg" class=""></h4>
                                    </center>
                                    <div class="form-group">
                                        <label for="focusedinput" class="col-sm-2 control-label">Name *</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control1" id="projectName" name="projectName"
                                                placeholder="Project Name" required>
                                        </div>
                                        <div class="col-sm-2 jlkdfj1">
                                            <p class="help-block"> </p>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <label for="inputPassword" class="col-sm-2 control-label">Type of Project
                                            *</label>
                                        <div class="col-sm-8">

                                            <select class="form-control1" name="propType" id="propType" required>
                                               <option value="nun">Project Type</option>
                                                <option value="flat">Flats or Houses</option>
                                                <option value="plot">Plots</option>

                                            </select>
                                        </div>
                                        <div class="col-sm-2 jlkdfj1">
                                            <p class="help-block" id="priceAfterOff">Please Select What type of
                                                propertie want to sell</p>
                                        </div>
                                    </div>

                                <div class="form-group flat">
                                    <label for="disabledinput" class="col-sm-2 control-label">Unit Option</label>
                                    <div class="col-sm-8">
                                
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="flatUnits" value="1">1 BHK
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="flatUnits" value="2"> 2BHK
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="flatUnits" value="3"> 3 BHK
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="flatUnits" value="4"> 4 BHK
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="flatUnits" value="5"> 5 BHK
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="flatUnits" value="6"> 6 BHK
                                        </label>
                                
                                    </div>
                                </div>  


                                <div class="plot">
                                   <div id="plotWraper">
                                        <div id="unit1" class="addUnits" >
                                            <div class="form-group">
                                                <label  class="col-sm-2 control-label">Enter Plot Unit </label>
                                                <div class="col-sm-8">
                                                    <input type="text"  class="form-control1 plotUnits" id="unitdiv" placeholder="Enter Unit in sqft ">
            
                                                </div>
                                            </div>
            
                                        </div>
                                    </div>    
                                    
                                    <div class="form-group ">
                                        <label  class="col-sm-5 control-label"></label>
                                        <button type="button" class="btn-success btn " id="addUnit" ><i class="fa fa-plus-circle" aria-hidden="true">&nbsp Unit</i></button>
        
                                    </div>
                                </div>
                                    

                            <div class="form-group">
                                <label for="checkbox" class="col-sm-2 control-label">Price Onwords *</label>
                                <div class="col-sm-8" id="expected Price">
                                    <input type="number" class="form-control1" id="priceOnwords"
                                        name="priceOnwords" placeholder="Enter Expected Price in INR" required>
                                </div>
                                <div class="col-sm-2 jlkdfj1">
                                    <p id="pricePera" class="help-block">flat, house or plot price start from</p>
                                </div>
                            </div>
                                    
                                   
                                    

                                    <div class="form-group">
                                        <label for="checkbox" class="col-sm-2 control-label">Project Location
                                           </label>
                                        <div class="col-sm-8" id="projLocation">
                                            <textarea placeholder="Enter Full Address" id="address"
                                                name="projAddress" cols="50" rows="10" class="form-control1"></textarea>

                                        </div>
                                    </div>


                                    <!-- 1800 * 1200 -->

                                    <div class="form-group">
                                        <label for="exampleInputFile" class="col-sm-2 control-label">Select Images for
                                            Galley *</label>
                                        <div class="col-sm-8">
                                            <input type="file" id="gallery" name="gallery" multiple> required
                                        </div>
                                        <div class="col-sm-2 jlkdfj1">
                                            <p class="help-block">image size 1800 X 1200 For Best Viewing Experience</p>
                                        </div>

                                    </div>

                                    <!-- <div class="form-group">
										<label for="exampleInputFile" class="col-sm-2 control-label" >Select multiple image for banner</label>
										<div class="col-sm-8">
											<input type="file" id="sliderImages" multiple>
										</div>
								</div> -->

                                    <!-- for youtube  videos -->
                                <div id="wraper">
                                    <div id="nearBy" class="addVideo">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Facility</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control1 facility" name="facility"
                                                    placeholder="e.g. Hospital, School ">

                                            </div>
                                            <label class="col-sm-2 control-label">Distance</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control1 faciDis" name="faciDis"
                                                    placeholder="Facility Distance From project in KM">

                                            </div>
                                            <div class="col-sm-2 jlkdfj1">
                                                <p class="help-block">Facilities Like School,Hospital,Metro.Distance means </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>    
                                    <div class="form-group ">
                                        <label  class="col-sm-5 control-label"></label>
                                        <button type="button" class="btn-success btn " id="addFacility" ><i class="fa fa-plus-circle" aria-hidden="true">&nbsp Facility</i></button>
        
                                    </div>

                                    <div class="form-group">
                                        <label for="disabledinput" class="col-sm-2 control-label">Ready To Move</label>
                                        <div class="col-sm-8">
                                            <label class="checkbox-inline">
                                                <input type="radio" name="ready" value="Yes"> Yes
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="radio" name="ready" value="No"> No
                                            </label>
                                        </div>
                                        <div class="col-sm-2 jlkdfj1">
                                            <p class="help-block">For Plots if ready for posation .
                                                For Flat and Houses if Ready to move. 
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="disabledinput" class="col-sm-2 control-label">Loan Availability</label>
                                        <div class="col-sm-8">
                                            <label class="checkbox-inline">
                                                <input type="radio" name="loan" value="Yes"> Yes
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="radio" name="loan" value="No"> No
                                            </label>
                                        </div>
                                        <div class="col-sm-2 jlkdfj1">
                                            <p class="help-block">Yes if loan is Available for this project. 
                                            </p>
                                        </div>
                                    </div>
                                



                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                             <center> <button class="btn-success btn" id="my-btn">Submit</button></center>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--footer section start-->
                <footer>
                    <p>&copy 2015 Easy Admin Panel. All Rights Reserved | Design by <a href="" target="_blank"></a></p>
                </footer>
                <!--footer section end-->
    </section>

    <script>



       function delUnit(xy){
			
			$("#"+xy).remove();

		};
        function delFaci(xyz){
            $("#"+xyz).remove();
           }
        $(document).ready(() => {
            let b=2;
            $("#addUnit").click(()=>{
			
				
			$("#plotWraper").append('<div id="unit'+b+'"  ><div class="form-group"><label  class="col-sm-2 control-label">Enter Plot Unit </label><div class="col-sm-8"><input type="text"  class="form-control1 plotUnits"  placeholder="Enter Unit in sqft "></div><button type="button" class="btn-success btn removeDays" onclick="delUnit(\'unit'+b+'\')"  ><i class="fa fa-minus-circle" aria-hidden="true">&nbsp unit</i></button></div></div>');
			
			b++;
			

		    });
            
            $(".plot").hide();
            $(".flat").hide();
           
            $('#propType').on('change', function () {
                
                if(this.value==='flat'){
                    $('.' + this.value).slideDown();
                    $('.plot').slideUp();

                }else if (this.value === 'plot') {
                    $('.' + this.value).slideDown();
                    $('.flat').slideUp();
                }else{
                    $('.plot').slideUp();
                    $('.flat').slideUp();

                }

                // $('.'+this.value).slideUp();

            });
            let x=2;
            $("#addFacility").click(()=>{
			
            var myvar = '<div id="nearBy'+x+'" >'+
'                                        <div class="form-group">'+
'                                            <label class="col-sm-2 control-label">Facility</label>'+
'                                            <div class="col-sm-3">'+
'                                                <input type="text" class="form-control1 facility" name="facility"'+
'                                                    placeholder="e.g. Hospital, School ">'+
''+
'                                            </div>'+
'                                            <label class="col-sm-2 control-label">Distance</label>'+
'                                            <div class="col-sm-3">'+
'                                                <input type="text" class="form-control1 faciDis" name="faciDis"'+
'                                                    placeholder="Facility Distance From project in KM">'+
''+
'                                            </div>'+
'                                            <div class="col-sm-2 jlkdfj1">'+
'                                                <button type="button" class="btn-success btn removeDays" onclick="delFaci(\'nearBy'+x+'\')"  ><i class="fa fa-minus-circle" aria-hidden="true">&nbsp Facility</i></button>'+
'                                            </div>'+
'                                        </div>'+
''+
'                                    </div>';
			$("#wraper").append(myvar);
			
			x++;
			

		    });

          
            $("#priceOnwords").on("keyup", () => {
                let x = $("#priceOnwords").val();
                $("#pricePera").html(price_in_words(x));
            });




            $('#createProjects').on('submit', (function (e) {
                e.preventDefault();
                let unit=[];
                let facilities={
                    facilityDetail:[]
                };
                let facility=[];
                let faciDis=[];
                
                const formData = new FormData(this);
                if(formData.getAll("propType")=='flat'){
                    $("input:checkbox[class='flatUnits']:checked").each(function () {
                    unit.push($(this).val());
                });
                }else{
                    $('input.plotUnits').each(function(){
                        unit.push($.trim($(this).val()));
                        
                     });
                }
                
                $('input.facility').each(function(){
                    
                    facility.push($.trim($(this).val()));
                });
                $('input.faciDis').each(function(){
                    faciDis.push($.trim($(this).val()));
                });
                
                for(let i in facility)
                {
                    facilities.facilityDetail.push({
                       facility:facility[i],
                       faciDis:faciDis[i]
                   })
                }
                
                
               facilities=JSON.stringify(facilities);
               alert(facilities);
                formData.append('unit', unit);
                formData.append('facilityDetail', facilities);
                if (validateForm()) {
                 $.ajax({
                        type: 'POST',
                        url: '/admin/createProject',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,

                        beforeSend: function () {
                            // Show image container

                            document.getElementById("my-btn").disabled = true;

                        },
                        success: function (data) {


                            $("#msg").html(`${data}`).addClass("alert alert-success");
                            window.scrollTo(0, 0);
                            document.getElementById("createProjects").reset();
                        },
                        complete: function (data) {

                            document.getElementById("my-btn").disabled = false;
                        },

                        error: function (data) {
                            console.log("error");
                            console.log(data);
                            document.getElementById("my-btn").disabled = true;
                        }
                    });
                }

            }));





        });
         



        function validateForm() {
            // alert(objfile);

            const validImageTypes = ['image/jpg', 'image/jpeg', 'image/png'];
            let objfile = document.getElementById('gallery');
            console.log(objfile);

            console.log(objfile.files);
            let len = document.getElementById('gallery').files.length;
            console.log(len);
            if (len == 0) {
                console.log('in if');
                $("#msg").html(`Please select images`).addClass("alert alert-success");
                window.scrollTo(0, 0);
                return false;
            }
            else if (len < 3) {
                $("#msg").html(`Please select minimum 3 images`).addClass("alert alert-success");
                window.scrollTo(0, 0);
                return false;

            }

            for (i = 0; i < len; i++) {
                if (!validImageTypes.includes(objfile.files[i].type)) {
                    $("#msg").html(`only jpg,jpeg and png images allowed `).addClass("alert alert-success");
                    window.scrollTo(0, 0);
                    return false;
                }

            }

            return true;
        }

        function numberWithCommas(x) {

            console.log(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            return;
        }

        function price_in_words(price) {
            var sglDigit = ["Zero", "One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine"],
                dblDigit = ["Ten", "Eleven", "Twelve", "Thirteen", "Fourteen", "Fifteen", "Sixteen", "Seventeen", "Eighteen", "Nineteen"],
                tensPlace = ["", "Ten", "Twenty", "Thirty", "Forty", "Fifty", "Sixty", "Seventy", "Eighty", "Ninety"],
                handle_tens = function (dgt, prevDgt) {
                    return 0 == dgt ? "" : " " + (1 == dgt ? dblDigit[prevDgt] : tensPlace[dgt])
                },
                handle_utlc = function (dgt, nxtDgt, denom) {
                    return (0 != dgt && 1 != nxtDgt ? " " + sglDigit[dgt] : "") + (0 != nxtDgt || dgt > 0 ? " " + denom : "")
                };

            var str = "",
                digitIdx = 0,
                digit = 0,
                nxtDigit = 0,
                words = [];
            if (price += "", isNaN(parseInt(price))) str = "";
            else if (parseInt(price) > 0 && price.length <= 10) {
                for (digitIdx = price.length - 1; digitIdx >= 0; digitIdx--) switch (digit = price[digitIdx] - 0, nxtDigit = digitIdx > 0 ? price[digitIdx - 1] - 0 : 0, price.length - digitIdx - 1) {
                    case 0:
                        words.push(handle_utlc(digit, nxtDigit, ""));
                        break;
                    case 1:
                        words.push(handle_tens(digit, price[digitIdx + 1]));
                        break;
                    case 2:
                        words.push(0 != digit ? " " + sglDigit[digit] + " Hundred" + (0 != price[digitIdx + 1] && 0 != price[digitIdx + 2] ? " and" : "") : "");
                        break;
                    case 3:
                        words.push(handle_utlc(digit, nxtDigit, "Thousand"));
                        break;
                    case 4:
                        words.push(handle_tens(digit, price[digitIdx + 1]));
                        break;
                    case 5:
                        words.push(handle_utlc(digit, nxtDigit, "Lakh"));
                        break;
                    case 6:
                        words.push(handle_tens(digit, price[digitIdx + 1]));
                        break;
                    case 7:
                        words.push(handle_utlc(digit, nxtDigit, "Crore"));
                        break;
                    case 8:
                        words.push(handle_tens(digit, price[digitIdx + 1]));
                        break;
                    case 9:
                        words.push(0 != digit ? " " + sglDigit[digit] + " Hundred" + (0 != price[digitIdx + 1] || 0 != price[digitIdx + 2] ? " and" : " Crore") : "")
                }
                str = words.reverse().join("")
            } else str = "";
            return str

        }



	// GOOGLE places implimentation


    </script>



    <script src="js/jquery.nicescroll.js"></script>
    <script src="js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>