<!DOCTYPE html>
<html lang="zxx">
<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
        <title><%=domain%></title>
		
        <!-- Custom CSS -->
        <link href="assets/css/styles.css" rel="stylesheet">
		
		<!-- Custom Color Option -->
		<link href="assets/css/colors.css" rel="stylesheet">
		
    </head>
	
    <body class="blue-skin">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div id="preloader"><div class="preloader"><span></span><span></span></div></div>
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<%-include('includes/nav.ejs')%>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- ============================ Page Title Start================================== -->
			<div class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<center><h2 class="ipt-title">About Us</h2></center>
							
							
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ Our Story Start ================================== -->
			<section>
			
				<div class="container">
				
					<!-- row Start -->
					<div class="row align-items-center">

						<div class="col-lg-6 col-md-6">
							<img src="assets/img/sb.png" class="img-fluid" alt="" />
						</div>

						<div class="col-lg-6 col-md-6">
							<div class="story-wrap explore-content">
								
								<h2>Our Story</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
								
							</div>
						</div>
						
					</div>
					<!-- /row -->					
					
				</div>
						
			</section>
			<!-- ============================ Our Story End ================================== -->
			
			<!-- ================= Our Team================= -->
			<section class="gray-bg">
				<div class="container">
				
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="sec-heading center">
								<h2>Meet Our Team</h2>
								<p>Professional & Dedicated Team</p>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
						
							<div class="team-slide item-slide">
								
								<!-- Single Teamm -->
								<div class="single-team">
									<div class="team-grid">
								
										<div class="teamgrid-user">
											<img src="assets/img/team-1.jpg" alt="" class="img-fluid" />
										</div>
										
										<div class="teamgrid-content">
											<h4>Shaurya Preet</h4>
											<span>Co-Founder</span>
										</div>
										
										<div class="teamgrid-social">
											<ul>
												<li><a href="#" class="f-cl"><i class="ti-facebook"></i></a></li>
												<li><a href="#" class="t-cl"><i class="ti-twitter"></i></a></li>
												<li><a href="#" class="i-cl"><i class="ti-instagram"></i></a></li>
												<li><a href="#" class="l-cl"><i class="ti-linkedin"></i></a></li>
											</ul>
										</div>
							
									</div>
								</div>
								
								<!-- Single Teamm -->
								<div class="single-team">
									<div class="team-grid">
								
										<div class="teamgrid-user">
											<img src="assets/img/team-2.jpg" alt="" class="img-fluid" />
										</div>
										
										<div class="teamgrid-content">
											<h4>Shivangi Preet</h4>
											<span>Content Writer</span>
										</div>
										
										<div class="teamgrid-social">
											<ul>
												<li><a href="#" class="f-cl"><i class="ti-facebook"></i></a></li>
												<li><a href="#" class="t-cl"><i class="ti-twitter"></i></a></li>
												<li><a href="#" class="i-cl"><i class="ti-instagram"></i></a></li>
												<li><a href="#" class="l-cl"><i class="ti-linkedin"></i></a></li>
											</ul>
										</div>
							
									</div>
								</div>
								
								<!-- Single Teamm -->
								<div class="single-team">
									<div class="team-grid">
								
										<div class="teamgrid-user">
											<img src="assets/img/team-3.jpg" alt="" class="img-fluid" />
										</div>
										
										<div class="teamgrid-content">
											<h4>Yash Preet</h4>
											<span>Content Writer</span>
										</div>
										
										<div class="teamgrid-social">
											<ul>
												<li><a href="#" class="f-cl"><i class="ti-facebook"></i></a></li>
												<li><a href="#" class="t-cl"><i class="ti-twitter"></i></a></li>
												<li><a href="#" class="i-cl"><i class="ti-instagram"></i></a></li>
												<li><a href="#" class="l-cl"><i class="ti-linkedin"></i></a></li>
											</ul>
										</div>
							
									</div>
								</div>
								
								<!-- Single Teamm -->
								<div class="single-team">
									<div class="team-grid">
								
										<div class="teamgrid-user">
											<img src="assets/img/team-4.jpg" alt="" class="img-fluid" />
										</div>
										
										<div class="teamgrid-content">
											<h4>Dhananjay Preet</h4>
											<span>CEO & Manager</span>
										</div>
										
										<div class="teamgrid-social">
											<ul>
												<li><a href="#" class="f-cl"><i class="ti-facebook"></i></a></li>
												<li><a href="#" class="t-cl"><i class="ti-twitter"></i></a></li>
												<li><a href="#" class="i-cl"><i class="ti-instagram"></i></a></li>
												<li><a href="#" class="l-cl"><i class="ti-linkedin"></i></a></li>
											</ul>
										</div>
							
									</div>
								</div>
								
								<!-- Single Teamm -->
								<div class="single-team">
									<div class="team-grid">
								
										<div class="teamgrid-user">
											<img src="assets/img/team-5.jpg" alt="" class="img-fluid" />
										</div>
										
										<div class="teamgrid-content">
											<h4>Rahul Gilkrist</h4>
											<span>App Designer</span>
										</div>
										
										<div class="teamgrid-social">
											<ul>
												<li><a href="#" class="f-cl"><i class="ti-facebook"></i></a></li>
												<li><a href="#" class="t-cl"><i class="ti-twitter"></i></a></li>
												<li><a href="#" class="i-cl"><i class="ti-instagram"></i></a></li>
												<li><a href="#" class="l-cl"><i class="ti-linkedin"></i></a></li>
											</ul>
										</div>
							
									</div>
								</div>
								
								<!-- Single Teamm -->
								<div class="single-team">
									<div class="team-grid">
								
										<div class="teamgrid-user">
											<img src="assets/img/team-6.jpg" alt="" class="img-fluid" />
										</div>
										
										<div class="teamgrid-content">
											<h4>Adam Wilcard</h4>
											<span>Web Developer</span>
										</div>
										
										<div class="teamgrid-social">
											<ul>
												<li><a href="#" class="f-cl"><i class="ti-facebook"></i></a></li>
												<li><a href="#" class="t-cl"><i class="ti-twitter"></i></a></li>
												<li><a href="#" class="i-cl"><i class="ti-instagram"></i></a></li>
												<li><a href="#" class="l-cl"><i class="ti-linkedin"></i></a></li>
											</ul>
										</div>
							
									</div>
								</div>
								
							</div>
						
						</div>
					</div>
				
				</div>
			</section>
			<!-- =============================== Our Team ================================== -->
			
			<!-- ================= Our Mission ================= -->
			<section>
				<div class="container">
				
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="sec-heading center">
								<h2>Our Mission & Work Process</h2>
								<p>Professional & Dedicated Team</p>
							</div>
						</div>
					</div>
					
					<div class="row align-items-center">
						
						<div class="col-lg-6 col-md-6">
							
							<div class="icon-mi-left">
								<i class="ti-lock theme-cl"></i>
								<div class="icon-mi-left-content">
									<h4>Fully Secure & 24x7 Dedicated Support</h4>
									<p>If you are an individual client, or just a business startup looking for good backlinks for your website.</p>
								</div>
							</div>
							
							<div class="icon-mi-left">
								<i class="ti-twitter theme-cl"></i>
								<div class="icon-mi-left-content">
									<h4>Manage your Social & Busness Account Carefully</h4>
									<p>If you are an individual client, or just a business startup looking for good backlinks for your website.</p>
								</div>
							</div>
							
							<div class="icon-mi-left">
								<i class="ti-layers theme-cl"></i>
								<div class="icon-mi-left-content">
									<h4>We are Very Hard Worker and loving</h4>
									<p>If you are an individual client, or just a business startup looking for good backlinks for your website.</p>
								</div>
							</div>
							
						</div>
						
						<div class="col-lg-6 col-md-6">
							<img src="assets/img/vec-2.png" class="img-fluid" alt="" />
						</div>
						
					</div>
				</div>
			</section>
			<!-- ================= Our Mission ================= -->
			
			
			<!-- ============================ Call To Action ================================== -->
			<section class="theme-bg call-to-act-wrap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							
							<div class="call-to-act">
								<div class="call-to-act-head">
									<h3>Want to Become a Real Estate Agent?</h3>
									<span>We'll help you to grow your career and growth.</span>
								</div>
								<a href="#" class="btn btn-call-to-act">SignUp Today</a>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
			<footer class="dark-footer skin-dark-footer">
				<div>
					<div class="container">
						<div class="row">
							
							<div class="col-lg-3 col-md-4">
								<div class="footer-widget">
									<img src="assets/img/logo-light.png" class="img-footer" alt="" />
									<div class="footer-add">
										<p>Collins Street West, Victoria 8007, Australia.</p>
										<p>+1 246-345-0695</p>
										<p>info@example.com</p>
									</div>
									
								</div>
							</div>		
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget">
									<h4 class="widget-title">Navigations</h4>
									<ul class="footer-menu">
										<li><a href="about-us.html">About Us</a></li>
										<li><a href="faq.html">FAQs Page</a></li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="blog.html">Blog</a></li>
									</ul>
								</div>
							</div>
									
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget">
									<h4 class="widget-title">The Highlights</h4>
									<ul class="footer-menu">
										<li><a href="#">Apartment</a></li>
										<li><a href="#">My Houses</a></li>
										<li><a href="#">Restaurant</a></li>
										<li><a href="#">Nightlife</a></li>
										<li><a href="#">Villas</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-2 col-md-6">
								<div class="footer-widget">
									<h4 class="widget-title">My Account</h4>
									<ul class="footer-menu">
										<li><a href="#">My Profile</a></li>
										<li><a href="#">My account</a></li>
										<li><a href="#">My Property</a></li>
										<li><a href="#">Favorites</a></li>
										<li><a href="#">Cart</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-3 col-md-6">
								<div class="footer-widget">
									<h4 class="widget-title">Download Apps</h4>
									<a href="#" class="other-store-link">
										<div class="other-store-app">
											<div class="os-app-icon">
												<i class="lni-playstore theme-cl"></i>
											</div>
											<div class="os-app-caps">
												Google Play
												<span>Get It Now</span>
											</div>
										</div>
									</a>
									<a href="#" class="other-store-link">
										<div class="other-store-app">
											<div class="os-app-icon">
												<i class="lni-apple theme-cl"></i>
											</div>
											<div class="os-app-caps">
												App Store
												<span>Now it Available</span>
											</div>
										</div>
									</a>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							
							<div class="col-lg-6 col-md-6">
								<p class="mb-0">© 2021 Resido. Designd By <a href="https://themezhub.com/">Themez Hub</a> All Rights Reserved</p>
							</div>
							
							<div class="col-lg-6 col-md-6 text-right">
								<ul class="footer-bottom-social">
									<li><a href="#"><i class="ti-facebook"></i></a></li>
									<li><a href="#"><i class="ti-twitter"></i></a></li>
									<li><a href="#"><i class="ti-instagram"></i></a></li>
									<li><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->
			
			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="registermodal">
						<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">Log In</h4>
							<div class="login-form">
								<form>
								
									<div class="form-group">
										<label>User Name</label>
										<div class="input-with-icon">
											<input type="text" class="form-control" placeholder="Username">
											<i class="ti-user"></i>
										</div>
									</div>
									
									<div class="form-group">
										<label>Password</label>
										<div class="input-with-icon">
											<input type="password" class="form-control" placeholder="*******">
											<i class="ti-unlock"></i>
										</div>
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded">Login</button>
									</div>
								
								</form>
							</div>
							<div class="modal-divider"><span>Or login via</span></div>
							<div class="social-login mb-3">
								<ul>
									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
									<li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google+</a></li>
								</ul>
							</div>
							<div class="text-center">
								<p class="mt-5"><a href="#" class="link">Forgot password?</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<!-- Sign Up Modal -->
			<div class="modal fade signup" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="sign-up">
						<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">Sign Up</h4>
							<div class="login-form">
								<form>
									
									<div class="row">
										
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="text" class="form-control" placeholder="Full Name">
													<i class="ti-user"></i>
												</div>
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="email" class="form-control" placeholder="Email">
													<i class="ti-email"></i>
												</div>
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="text" class="form-control" placeholder="Username">
													<i class="ti-user"></i>
												</div>
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="password" class="form-control" placeholder="*******">
													<i class="ti-unlock"></i>
												</div>
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="password" class="form-control" placeholder="123 546 5847">
													<i class="lni-phone-handset"></i>
												</div>
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<div class="input-with-icon">
													<select class="form-control">
														<option>As a Customer</option>
														<option>As a Agent</option>
														<option>As a Agency</option>
													</select>
													<i class="ti-briefcase"></i>
												</div>
											</div>
										</div>
										
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded">Sign Up</button>
									</div>
								
								</form>
							</div>
							<div class="modal-divider"><span>Or login via</span></div>
							<div class="social-login mb-3">
								<ul>
									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
									<li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google+</a></li>
								</ul>
							</div>
							<div class="text-center">
								<p class="mt-5"><i class="ti-user mr-1"></i>Already Have An Account? <a href="#" class="link">Go For LogIn</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->
		

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/rangeslider.js"></script>
		<script src="assets/js/select2.min.js"></script>
		<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<script src="assets/js/slick.js"></script>
		<script src="assets/js/slider-bg.js"></script>
		<script src="assets/js/lightbox.js"></script> 
		<script src="assets/js/imagesloaded.js"></script>
		 
		<script src="assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>
</html>