<div class="left-side sticky-left-side">

    <!--logo and iconic logo start-->
    <div class="logo">
        <h1><a href="/admin/dashboard">Easy <span>Admin</span></a></h1>
    </div>
    <div class="logo-icon text-center">
        <a href="/admin/dashboard"><i class="lnr lnr-home"></i> </a>
    </div>

    <!--logo and iconic logo end-->
    <div class="left-side-inner">

        <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="/admin/dashboard"><i class="lnr lnr-power-switch"></i><span>Dashboard</span></a></li>
                <li class="menu-list">
                    <a href="#"><i class="lnr lnr-cog"></i>
                        <span>Leads</span></a>
                        <ul class="sub-menu-list">
                            <li><a href="/admin/leadsFromWeb">Leads From Website</a> </li>
                            
                        </ul>
                </li>
                
                <!-- <li><a href="/admin/getflatsorhousedata"><i class="lnr lnr-menu"></i> <span>All Listing</span></a></li>               -->
                <li class="menu-list"><a href="#"><i class="lnr lnr-spell-check"></i> <span>All Creates</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/admin/createFlate">Add flat </a></li>
                        <li><a href="/admin/createPlot_Land">Add Plot and Land</a></li>
                        <li><a href="/admin/project">Add Project</a></li>
                        <li><a href="/admin/addComp">Add Company</a></li>
                        
                    </ul>
                </li>
                <li class="menu-list"><a href="#"><i class="lnr lnr-menu"></i> <span>All Masters</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/admin/addLocalities">Locality</a> </li>
                        
                        
                    </ul>
                </li>
                <li class="menu-list"><a href="#"><i class="lnr lnr-menu"></i> <span>All Listing</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/admin/getflatsorhousedata"">All Flats</a> </li>
                        <li><a href="/admin/getplotsorlanddata">All Plots</a></li>
                        
                    </ul>
                </li>
                <li><a href="/admin/createCity"><i class="lnr lnr-envelope"></i> <span>Create Destination</span></a>
                    
                </li>      
                <li class="menu-list"><a href="#"><i class="lnr lnr-indent-increase"></i> <span>Menu Levels</span></a>  
                    <ul class="sub-menu-list">
                        <li><a href="charts.html">Basic Charts</a> </li>
                    </ul>
                </li>
                <li><a href="codes.html"><i class="lnr lnr-pencil"></i> <span>Typography</span></a></li>
                <li><a href="media.html"><i class="lnr lnr-select"></i> <span>Media Css</span></a></li>
                <li class="menu-list"><a href="#"><i class="lnr lnr-book"></i>  <span>Pages</span></a> 
                    <ul class="sub-menu-list">
                        <li><a href="sign-in.html">Sign In</a> </li>
                        <li><a href="sign-up.html">Sign Up</a></li>
                        <li><a href="blank_page.html">Blank Page</a></li>
                    </ul>
                </li>
            </ul>
        <!--sidebar nav end-->
    </div>
</div>